
h1 {
    font-size: 4rem;
}

p {
    font-family: "Darker Grotesque";
}

/****** HEADER ******/
.headerPadrão {
    background: #85CDF5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.headerPadrão a {   
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
}

.headerPadrão img {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/***********************/
/********************INICIO LAYOUT INDEX***********/
.sectionAdoteSobre {
    color: black;
    display: felx;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.divAdote{
    color: white;
    background-image: url("imagens/LoboIndex.svg");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 200px;
}

.divAdote p{
    font-size: 2rem;
    text-align: center;
}

.divSobre {
    background: #2C5680;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divSobre h2{
    color: #DEB959;
    font-size: 2rem;
}

.divSobre p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
}

.sectionValores {
    text-align: center;
    background:#333333;
    color: white;
    display: felx;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.sectionValores h2 {
    margin: 0%;
    padding-top: 15px;
    color: #DEB959;
    font-size: 2rem;
}

.ValoresProteção {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ValoresCarinho {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ValoresComp {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ValoresResgate {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxValores {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.gradient {
    background: linear-gradient(270DEG,#2C5680 0%,#DEB959 100%);
    padding: 3px;
}

.divLobos {
    display: flex;
    flex-direction: column;
}

.conterMain2 {
    margin-bottom: 165px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lobin2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.sectionLobosExemplo {
    text-align: center;
    display: felx;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.sectionLobosExemplo h2 {
    margin: 0%;
    padding-top: 30px;
    color: #DEB959;
    font-size: 4rem;
}
/*****************FIM LAYOUT iNDEX****************/

/*****************INICIO LAYOUT LISTA****************/
.ContListaLobo{
    width: 100%;
}
#searchDaListaLobin{
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
}
#searchDaListaLobin input{
    width: 30%;
    height: 3vh;
    padding-left: 35px;
    background-color: white;
    font-weight: 600px;
}
#searchDaListaLobin button{
    padding: 10px;
    color: white;
    background-color: #DEB959;
    font-size: 100%;
}
#searchDaListaLobin img{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 4px;
}
#checkLobin{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: baseline;
    margin-left: 47px;
}
#checkLobin label{
    font-size: 1rem;
    padding-bottom: 5px;
}
.ContListaLobo{
    position: relative;
}
#listaLoboUm{
    margin-left: 5vw;
    margin-top: 50px;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
}
.textoLobin{
    margin-left: 150px;
    text-align: left;
}
.btnAdote{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
}
.btnAdote button{
    margin-right: 160px;
    padding: 10px;
    color: white;
    background-color: #DEB959;
    font-size: 100%;
}
#listaLoboDois{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 80%;
}
.textoLobin2{
    margin-right: 80px;
    text-align: right;
}
.btnAdote2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    
}
.btnAdote2 button{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 160px;
    padding: 10px;
    color: white;
    background-color: #DEB959;
    font-size: 100%;
}
#listaLobotres{
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    margin-left: 5vw;
}
#listaLoboquatro{
    margin-top: 1vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 80%
}
.sombraAzulLista{
    background-color: #2C5680;
    border: 2px solid;
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 40vh;
    top: -25px;
    left: -25px;
}
.sombraAzulLista22{
    background-color: #2C5680;
    border: 2px solid;
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 40vh;
    top: -20px;
    left: 60vw;
}
.sombraAzulLista2{
    background-color: #2C5680;
    border: 2px solid;
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 40vh;
    top: 50px;
    left: 60vw;
}
/*****************FIM LAYOUT LISTA****************/

/********************INICIO LAYOUT ADICIONAR LOBOINHO***********/

.container{
    border: 1px solid black;
    width: 958px;
    height: 874px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;

}

.titulo{
    font-size: 60px;
    font-family: 'Darker Grotesque';
    align-self: center;
}

.input{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

input{
    background-color: #E6E6E6;
}

label{
    font-family: 'Darker Grotesque';
}

.nome-lobinho{
    width: 564px;
    height: 39px;
}

.anos-lobinho{
    width: 177.14px;
    height: 39px;
}

.link-lobinho{
    width: 890px;
    height: 39px;
    font-size: 30px;
    margin-bottom: 10px;
}

.descricao-lobinho{
    width: 890px;
    height: 250px;
    font-size: 30px;
    margin-bottom: 20px;
}
#textoDolobo {
    padding-right: 100px;
}

label{
    font-size: 30px;
}

.teste{
    display: flex;
    flex-direction: column;
}

.btm-enviar{
    width: 209px;
    height: 60px;
    background-color: #2C5680;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 40%;
    margin-top: 40px;
}

/*****************FIM LAYOUT ADICIONAR LOBINHO****************/
/*  QUEM SOMOS */

.sectionQuemSomos{
    margin-top: 200px;
    margin-bottom: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 27px;
}
.sectionQuemSomos h1{
    font-size: 48px;
}
.sectionQuemSomos p{
    width: 65%;
    text-align: center;
}


/************************************/
/*****************INICIO LAYOUT ADOTAR LOBINHO***************/

.adotar-header{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.adotar-imagem-lobo{
    border-radius: 50%;
    margin-top: 20px;
}

.adotar-textos{
    margin-left: 30px;
}

.adotar-titulo-lobo{
    font-size: 50px;
    font-family: 'Darker Grotesque';
    margin-bottom: 0;

}

.form{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Darker Grotesque';
}

.input-primeiro{
    display: flex;

}

.seu-nome{
    width: 600px;
    margin-right: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #2c568000;
}
.sua-idade{
    width: 60px;

    background-color: rgba(16, 107, 107, 0);
    border-top:none;
    border-left:none;
    border-right:none;
    margin-bottom: 30px;
}


.input-segundo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Darker Grotesque';

}

.seu-email{
    width: 690px;
    background-color: rgba(0, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 50px;


}

.btm-adotar{
    display: flex;
    justify-content: center;
    margin-left: 40%;
    width: 209px;
    height: 60px;
    align-items: center;
    background-color: #2C5680;
    color: white;
    font-size: 36px;
    font-family: 'Darker Grotesque';
    margin-bottom: 50px;
}

/**********************************/

/* MAIN SHOW LOBINHO*/
.conterMain{
    margin-bottom: 165px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.lobin{
    display: flex;
    justify-content: center;
    
}
#descrLobin{
    font-weight: 400px;
    font-size: 19px;
    margin-left: 30px;
    width: 35%;
}
#imagemLobin{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sombramento{
    position: relative;
}
#botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#adot{
    background-color: #7AAC3A;
    color: white;
    width: 80%;
    padding: 15px;
    font-size: 19px;
}
#delet{
    background-color: #DE5959;
    color: white;
    width: 80%;
    padding: 15px;
    margin-left: 3vw;
    font-size: 19px;
}
#sombraAzul{
    background-color: #2C5680;
    border: 2px solid;
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 40vh;
    top: -25px;
    left: -25px;
    /* bottom: 198px;
    left: 250px; */
}
/***********************/


/****** FOOTER ******/
footer{
    background-color: #333333;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}


.conterRodaPe{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    width: 80%;
    justify-content: space-between;

}
#rodape{
    display: flex;
    align-items: center;
}

.contatosRodaPe{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;

}
.contatosRodaPe p{
    margin-left: 15px;
    
}
#placeHolder{
    display: flex;
    flex-direction: row;
    color: white;

}
#call{
    display: flex;
    flex-direction: row;
    
}
#call p{
    font-size: 16px;
    color: white;
}
#envelope{
    display: flex;
    flex-direction: row;
    color: white;
}
#paws{
    display: flex;
    flex-direction: column;
    color: white;
}
#quemSomos{
    width: 30%;
    background-color: #DEB959;
    

}
#quemSomos p{
    margin-left: 15px;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.contatosRodaPe a:hover{
    color: green;
}



/***********************/