
footer{
    background-color: #333333;
    margin: 0 auto;
}
.conterRodaPe{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 15vw;
    padding-bottom: 25px;
}
.conterRodaPe p{
    color: white;
}
.contatosRodaPe{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;

}
.contatosRodaPe p{
    margin-left: 15px;
}
#placeHolder{
    display: flex;
    flex-direction: row;

}
#call{
    display: flex;
    flex-direction: row;
    
}
#call p{
    font-size: 16px;
}
#envelope{
    display: flex;
    flex-direction: row;
}
#paws{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 61px;
}
#quemSomos{
    width: 30%;
    background-color: #DEB959;
    

}
#quemSomos p{
    margin-left: 15px;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
#quemSomos p{
    color: black;
}

.contatosRodaPe a:hover{
    color: green;
}
